---
export const prerender = false;

import { getPost } from "../../lib/client";
import Base from "../../layouts/Base.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { metaData } from "../../config";

const { url, site } = Astro;

const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");

const post = await getPost(slug);
---

<Base title={post.title} description={post.brief}>
  <section>
    <script
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        headline: post.title,
        datePublished: post.publishedAt,
        dateModified: post.publishedAt,
        description: post.brief,
        image: url.href,
        url: url,
        author: {
          "@type": "Person",
          name: metaData.name,
        },
      })}
    />
    <h1 class="title mb-3 font-medium text-2xl tracking-tight">
      {post.title}
    </h1>
    <div class="flex justify-between items-center mt-2 mb-8 text-medium">
      <p class="text-sm text-neutral-600 dark:text-neutral-400">
        <FormattedDate date={post.publishedAt} includeRelative={false} />
      </p>
    </div>
    <article class="prose prose-quoteless dark:prose-invert not-prose:code">
      <Fragment set:html={post.content.html} />
    </article>
  </section>
</Base>
