---
export const prerender = false;

import Base from "../../layouts/Base.astro";
import { getAllPosts } from "../../lib/client";
import FormattedDate from "../../components/FormattedDate.astro";

const data = await getAllPosts();

const allPosts = data.publication.posts.edges;

const title = "Blog";
const description = "Blog";

const currentTime = new Date().toLocaleTimeString();

Astro.response.headers.set(
  "Cache-Control",
  "public, s-maxage=60, stale-while-revalidate=30"
);
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Index</h1>
    <div>
      {
        allPosts.map((post) => (
          <a
            class="flex flex-col space-y-1 mb-4 transition-opacity duration-200 hover:opacity-80"
            href={`/blog/${post.node.slug}/`}>
            <div class="w-full flex flex-col sm:flex-row justify-between items-start sm:items-center space-y-1 sm:space-y-0 sm:space-x-2">
              <p class="text-black dark:text-white tracking-tight">
                {post.node.title}
              </p>
              <p class="text-neutral-600 dark:text-neutral-400 tabular-nums text-sm">
                <time datetime={currentTime}>{currentTime}</time>
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Base>
